Source: python-quantumclient
Maintainer: Joe Heck <heckj@mac.com>
Section: python
Priority: optional
Build-Depends: python-setuptools (>= 0.6b3), python-all (>= 2.6.6-3), debhelper (>= 7.4.3)
Standards-Version: 3.9.1

Package: python-quantumclient
Architecture: all
Depends: ${misc:Depends}, ${python:Depends}
Description: Client functionalities for Quantum
 Client functionalities for Quantum
